*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
.Banner{
    width: 100%;
    height: 190%;
    background-image: linear-gradient(rgba(0,0,0,0.80),rgba(0,0,0,0.70)),url(waterpro.jpg);
    background-size: 100%;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
}
.logo{
    width: 200px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
    cursor: none;
    font-size: 17;
    text-align:center;
    font-weight: bold;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase; 
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%;
}
.pngs{
    width: 12px;
    margin-top: auto;
    color: darkblue;
}
.pngs1{
    width: 22px;
    margin-top: auto;
}
.pngs2{
    width: 20px;
    margin-top: auto;
}
.pngs3{
    margin-top: auto;
    width: 35px;
}

.gogo {
    width: 100%;
    position: absolute;
    top: 18%;
    transform: translateY(-50%);
    text-align: center;
    color: azure;
}
.gogo p1{
    
    text-align: center;
    font-size: 18   ;
    color: aliceblue;
    cursor: pointer;
    text-decoration:none;
    color: #fff;
    font-weight: bold;
}
.gogo p1::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.5s;
}

.gogo p1:hover:after{
    width: 100%;
}
.gaga {
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: left;
    color: azure;
    margin-left: 100;
}
.gaga p{
    text-align: center;
    margin-left: 250;
    margin-right: 250;
    font-size: 20;
    border color: lightcyan;
    border: 3px solid;
    border-radius: 15px;
    border-style: groove;
    background-image: linear-gradient(rgba(0,0,0,0.90),rgba(0,0,0,0.85)),url("lukkha.jpeg");
    background-position: center;
    color: white;
    cursor: default;

}

  .product-box {
    margin-left: 40;
    margin-top: 40;
    align-content: center;
    display: inline-table;
    width: 20%;
    border: 2px solid #fff;
    box-sizing: content-box;
    position: relative;
    top: 5%;
  }
  .product-image {
    width: 100%;
    height: auto;
    border-style: none;
    }
 
.product-box p{
    margin-top: 10;
    margin-left: 10;
    margin-right: 10; 
    font-size: 14;
    font-style: normal;
    font-family: 'Futura';
    color: aliceblue;
    
}
.product-box ul li{
    margin-top: 10;
    margin-left: 20;
    margin-right: 10; 
    margin-bottom: 10;
    font-size: 12;
    color: aliceblue;
    font-weight: bold;
}
.product-box::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.5s;
}

.product-box:hover:after{
    width: 100%;
}
.extra-box {
    margin-left: 40;
    margin-top: 20;
    align-content: center;
    display: inline-table;
    width: 80%;
    border: 2px solid #fff;
    box-sizing: content-box;
    position: relative;
    top: 5%;
  }
  .extra-image {
    width: 100%;
    height: ;
    border-style: none;
    }
 
.extra-box p{
    margin-top: 10;
    margin-left: 10;
    margin-right: 10; 
    font-size: 14;
    font-style: normal;
    font-family: 'Futura';
    color: aliceblue;
    
}
.extra-box ul li{
    margin-top: 10;
    margin-left: 20;
    margin-right: 10; 
    margin-bottom: 10;
    font-size: 12;
    color: aliceblue;
    font-weight: bold;
}
.extra-box::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.5s;
}
.extra-box:hover:after{
    width: 100%;
}
.clearfix{
    zoom: 1;
}
.cdma{
    background-color: darkblue;
    width: 100%;
    height: 20%;
    background-size: cover;
    background-position: center; 
    
}
.footc{
    margin-left:  50px ;
    margin-top: -50px;
}
.footc h2{
    color: lightgrey;
    text-transform: uppercase;
}
.footc ul li{
    list-style: none;
    display:list-item;
    line-height: 50px;
    color: ghostwhite;
    margin-left: 20px;
    position: relative;
    cursor: none;
    }
.footc ul1 li1{
    list-style: none;
    display:inline-flex;
    line-height: 50px;
    margin: 0px;
    position: relative;
    cursor: none;
    }
.rodi{
    width: 300px;
}

